/* See also `noscript.css` for `<noscript>` only rules. */

* {
  box-sizing: border-box;
}

:where(:not(button, input)) {
  margin: 0;
  padding: 0;
  border: 0 solid;
  font-style: inherit;
}

button.appearance-none {
  appearance: none;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font: inherit;
}

:root {
  font-family:
    'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans',
    'Noto Sans JP', sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

dialog[aria-modal='true'] {
  z-index: 1;
  /* Replicates the suggested default rendering for `dialog:modal`
   * https://html.spec.whatwg.org/#flow-content-3 */
  position: fixed;
  overflow: auto;
  visibility: visible;
  inset-block: 0;
  max-width: calc(100% - 6px - 2em);
  max-height: calc(100% - 6px - 2em);
}

ol,
ul,
menu {
  list-style: none;
}

:root {
  --border-color: gray;
}

/* Replicates the appearance of a button while retaining the semantics of a hyperlink. */
.button {
  display: block;
  border: 1px solid #888;
  border-color: #999;
  border-radius: 4px;
  padding-block: 1px;
  padding-inline: 4px;
  color: #666;
  background-color: #eee7;
  font-family: system-ui;
  text-align: center;
  user-select: none;
  cursor: default;
}

a.button {
  border-color: #888;
  color: initial;
  background-color: #eee;
}

a.button:hover {
  border-color: #666;
  background-color: #ddd;
}

a.button:active:hover {
  border-color: #444;
  background-color: #bbb;
}

.error {
  color: #f00;
}

@media (prefers-contrast: more) {
  :root {
    --border-color: #000;
  }

  .button {
    border-color: #000 !important;
    color: #000 !important;
    background-color: #aaa;
  }

  a.button:not(:active):not(:hover) {
    background-color: #fff;
  }
}
