.container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.datetimeAnchor {
  color: #444;
}

.datetimeAnchor:hover {
  color: #444;
  text-decoration: revert;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.tags > li,
.subject {
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.tags > li {
  display: inline-block;
  padding-block: 1px;
  padding-inline: 4px;
}

.tags > li > ::before {
  content: '#';
}

.subjectList {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.subject {
  display: block;
  padding: 12px;
}

.subject figure {
  display: flex;
  gap: 8px;
}

.subject figcaption {
  overflow: auto;
  overflow-wrap: anywhere;
}

.subjectThumb {
  --max-width: calc(100vw / 3);
  max-width: var(--max-width);
  --max-height: 50vh;
  max-height: var(--max-height);
  object-fit: contain;
}

:global(.react-loading-skeleton).subjectThumb {
  height: min(calc(var(--max-width) * 16 / 9), var(--max-height));
  width: min(calc(var(--max-height) * 9 / 16), var(--max-width));
}

.subjectList .subjectThumb {
  --max-height: 25vh;
}

.subject figure > figcaption > cite {
  font-weight: bold;
}

.note {
  white-space: pre-wrap;
}

.error {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.error > p {
  color: #f00;
}

.error > button {
  inline-size: fit-content;
}
