.signIn {
  margin: auto;
  padding: 1em;
  inline-size: 24em;
  max-width: 80vw;
  max-height: 80vh;
  overflow-block: scroll;
  flex-direction: column;
  gap: 12px;
  overscroll-behavior: contain;
}

.signIn[open] {
  display: flex;
}

.signIn::backdrop {
  backdrop-filter: brightness(0.5);
}

.signIn > header {
  text-align: center;
}

.signIn > header > button {
  position: absolute;
  top: 0;
  right: 0;
  width: 2em;
  height: 2em;
  cursor: pointer;
}

.signIn > form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.signIn > form > label {
  display: flex;
  gap: 4px;
}

.signIn > form > label > span {
  max-inline-size: 6em;
}

.signIn input[type='text'] {
  flex: 1;
  min-inline-size: min(16em, calc(80vi - 8em));
  max-block-size: 2em;
}

.signIn input[readonly] {
  cursor: not-allowed;
}

.signIn > p {
  inline-size: min-content;
  max-inline-size: 100%;
}
